{% extends 'base.html' %} {% block content %}
<div class="view parallax" style="height: 100vh;">
    <img class="parallax-img" src="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg" alt="">
    <div class="mask rgba-blue-slight">
        <div class="container flex-center text-center">
            <div class="row mt-5">
                <div class="col-md-12 wow fadeIn mb-3">
                    <h1 class="display-3 mb-2 wow fadeInDown" data-wow-delay="0.3s">Kollege <a class="indigo-text font-weight-bold">.APP</a></h1>
                    <h5 class="text-uppercase mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s">Top CV Templates for FREE</h5>
                    <a class="btn btn-light-blue btn-lg wow fadeIn" data-wow-delay="0.4s">portfolio</a> <a class="btn btn-indigo btn-lg wow fadeIn" data-wow-delay="0.4s">Scroll down</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-sm-12 row-cols-md-6 row-cols-lg-4">
        {% for obj in object_list %}
        <div class="col" style="margin-top: 7px;">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="{{ obj.get_absolute_url }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">{{obj.name}}</h4>
                    <!-- Text -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Select</a>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> {% endblock %}